.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: url('https://images.pexels.com/photos/1020317/pexels-photo-1020317.jpeg?cs=srgb&dl=abstract-art-background-1020317.jpg&fm=jpg ');
  height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}